body {
    display:flex;
    flex-direction: column;
    padding:30px ;
    gap: 25px;
    background-color:white ;
}


/* #f0f0f0
rgba(0,0,0,0.2)

rgba(0, 0, 0, 0.1)
#853E3E - mauve
#853E3E
#ccc  - grey
#6d2c2c - deeper mauve
#333  - black grey
#666 */

#brand {
    font-size: 2em;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bio{
    border: 1px solid #853E3E;
    width: 100%;
    height: 75px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 2;
    /* background-color:#853E3E ; */
    /* color: white; */
    /* font-weight: bold; */
}

.title {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 20px;

}

#hallname {
    border: 1px solid #853E3E;
    width: 50%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    color: #853E3E;
}

#plus {
    padding-left: 10%;
}

.hallsRequest {
    /* border: 1px solid black; */
    width: 100%;
    /* height: max-content; */
    height: 27em;
    border-radius: 7px;
    display: flex;
}

.halls {
    height: fit-content;
    height: 27em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 50%;
    background-color: white ;
    padding-bottom: 2em;
}

.hall_s {
    border: 1px solid black;
    width: 25%;
    height: fit-content;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
} 

.hallA,.hallB,.hallC,.hallD,.hallE{
    border: 1px solid black;
    width: 100px;
    /* height: 15%; */
    margin: 15px;
    border-radius: 5px;

}

#hallA_Btn {
    height: fit-content;
}


@media(max-width: 600px){
    #hall,#cardimage{
        width: 100%;
        margin: 10px 0;

    }
}

@media (min-width:601px) and(max-width:900px){
    #hall{
        width: 48%;
        margin: 1%;
    }
}

.requests {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    border: 2px solid gray;
    text-align: left;
    padding: 8px;
    width: 70em;
    color: #03385a;
}

.actions {
    display: flex;
}



#send {
    width:3.5%;
    /* margin: 0; */
    padding: 4%;

}

#requestname {
    border: 1px solid #853E3E;
    width: 50%;
    height: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    color: #853E3E;
}

#form1,#close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#Drequest {
    height: fit-content;
}

#close{
    margin-top: 10px;
}

#requestPo {
    background-color: #a89595;
}

/* .room {
    border: 1px solid;
    width: 30%;
    background-color: #853E3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    padding: 5px;
    border-radius: 3px;
} */

.cse {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #853E3E;
  }
   
  a:visited {
    text-decoration: none;
  }
  
  /* a:hover {
    text-decoration: none;
    color: #e4e2e2;
  } */
  
  a:active {
    text-decoration: none;
  }

.entries {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5vw;
}

/* MODAL CONTAINER */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 40%;
    padding: 1em;
}

.block_item {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
}

.block_title {
    display: flex;
    justify-content: flex-start;
    flex: 4;
    color: gray;
}

.block_value {
    flex: 8;
    color: black;
}

.rooms {
    padding: 0.5em;
}

.room {
    display: flex;
    padding-left: 1em;
}

.room_name {
    color: #853E3E;
    flex: 5;
}

.members_title {
    font-weight: bold;
}

.members {
    flex: 5;
}

.room_name,
.joined_status {
    display: flex;
    align-items: center;
    flex: 2;
}

.join-button:hover {
    cursor: pointer;
}

.close-button {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: white;
    color: red;
    border: 1px solid red;
}

.close-button:hover {
    cursor: pointer;
    color: white;
    background-color: red;
    border: 1px solid red;
}

.welcome-user {
    font-weight: bold;
    color: #03385a;
}

.name-type {
    color: #03385a; 
    font-weight: bold;
}