
body {
    margin: auto;
    min-height: 100vh;
    margin: 40px;
    background: #e4e2e2;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #853E3E;

}  

.header,.middleheader,.logins {
    display: flex;
    margin-left:50px;
    margin-right: 50px;
    justify-content:space-between;
    gap: 20px;
    font-size: 20px;
    font-weight:500;
}

.text {
    color: #853E3E;
    background-color:#f0f0f0 ;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    /* opacity: 0.4; */
}

.banner {
  /* border:1px solid black; */
  display: flex;
  height: 600px;
  /* margin-top: 50px; */
  justify-content: center;
  align-items: center;
  /* gap: 50px; */
}

img {
  border-radius: 10px;
  
}

p {
  text-align: center;
  width: 500px;
  line-height: 40px;
  color: black;
 }

 #intro,#asbed,#fac,.con {
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 30px;
 }

 .hallA, .hallB,.hallC,.hallD,.hallE {
  width: 220px;
  height: 195px;
  background-color: #f0f0f0;
  border: 1px solid rgb(225, 194, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  color: black;
 }

 .hostels {
  display: flex;
  gap: 15px;
 }


 a {
    text-decoration: none;
    color: #853E3E;
  }
   
  a:visited {
    text-decoration: none;
  }
  
  /* a:hover {
    text-decoration: none;
    color: #e4e2e2;
  } */
  
  a:active {
    text-decoration: none;
  }

#fac {
  margin-top: 40px;
}

.FAQs{
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #f0f0f0;
  padding:5px 10px 5px 10px;
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#register
{
  border: 2px solid #853E3E;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 7px;
  color: #f0f0f0;

}
.second:hover {
  cursor: pointer;
  color: #e4e2e2;
  background-color: #853E3E;
}
#register:hover{
  background-color: #853E3E;
}

.fqs {
  display: flex;
  justify-content: space-between;

}

.one {
  padding: 10px;
}

.questions {
  color: black;
  cursor: pointer;
  border-bottom: 1px solid rgb(184, 109, 109);
  /* width:fit-content; */
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.answers{
  display: none;
  padding-left: 20px;
  color: black;
}
.answers.show {
  display: block;
  margin-bottom: 5px;
}

.contacts {
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f0f0f0;
  background-color: #853E3E;
  border-radius: 10px;
}

.physicaladdress,.phonenumber,.email{
  display: flex;
  gap: 15px;

}
.physicaladdress,.email{
  border-right: 1px solid white;
  height: 115px;
  padding-right:20px;
}

h4 {
  border-right: 2px solid white;
  height: fit-content;
  padding-right: 7px;
}
.con {
  margin-top: 40px;
}
  




