<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
            <!-- <div id = hall>
                <img class="description-icon" src="../assets/hall5.jpg" alt="Description Icon">
                <button id="hallBtnC" class="hall-box" onclick="hallBio()">
                    <div class="hall-name">Hall C</div>
                    <div class="room-count">0/30 rooms</div> 
                </button>
                <dialog id = "roomsC">
                    <div class="mainRooms">
                        <div class="room" id ="rC">
                            R1
                            <input type="image" class="description-icon" src="../assets/plus.png" alt="Description Icon" style="width:15%;" >
                            <input type="image" class="description-icon" src="../assets/minus-sign.png" alt="Description Icon" style="width: 15%;" >
                    </div>
                </div>
                    <div class="cse">
                        <button id = "closeRoomC">Close</button>
                       </div>                </dialog>
            </div>

            <div id = hall>
                <img class="description-icon" src="../assets/hall1.jpg" alt="Description Icon">
                <button id="hallBtnD" class="hall-box" onclick="hallBio()">
                    <div class="hall-name">Hall D</div>
                    <div class="room-count">0/15 rooms</div> 
                </button>
                <dialog id = "roomsD">
                    <div class="mainRooms">
                        <div class="room" id ="rD">
                            R1
                            <input type="image" class="description-icon" src="../assets/plus.png" alt="Description Icon" style="width:15%;" >
                            <input type="image" class="description-icon" src="../assets/minus-sign.png" alt="Description Icon" style="width: 15%;" >
                    </div>
                </div>
                    <div class="cse">
                        <button id = "closeRoomD">Close</button>
                       </div>                </dialog>
            </div>

            <div id = hall>
                <img class="description-icon" src="../assets/hall5.jpg" alt="Description Icon">
                <button id="hallBtnE" class="hall-box" onclick="hallBio()">
                    <div class="hall-name">Hall E</div>
                    <div class="room-count">0/20 rooms</div> 
                </button>
                <dialog id = "roomsE">
                    <div class="mainRooms">
                        <div class="room" id ="rE">
                            R1
                            <input type="image" class="description-icon" src="../assets/plus.png" alt="Description Icon" style="width:15%;" >
                            <input type="image" class="description-icon" src="../assets/minus-sign.png" alt="Description Icon" style="width: 15%;" >
                    </div>
                </div>
                    <div class="cse">
                        <button id = "closeRoomE">Close</button>
                       </div>                </dialog>
            </div> --> 
    
</body>
</html>